<h1>Lista de Produtos</h1>
<div id="produtos-lista">
  <% produtos.forEach(produto => { %>
    <div class="produto">
      <img src="<%= produto.images.data[0].thumb %>" alt="<%= produto.name %>">
      <h3><%= produto.name %></h3>
      <p><%= produto.shipping_price %></p>
    </div>
  <% }) %>
</div>



<section class="ticker">
<div class="ticker__wrap">
  <div class="ticker__content">
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
  </div>
  <div class="ticker__content">
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
    <div class="tricker__logo">É NATAL É NATAL</div>
  </div>
</div>
</section>
<section id="banner">
<div class="owl-carousel owl-theme">
  <div class="item">
    <img src="./src/images/banner.jpg" alt="Banner Ofertas 1"/>
  </div>
  <div class="item">
    <img src="./src/images/banner2.webp" alt="Banner Ofertas 2"/>
  </div>
  <div class="item">
    <img src="./src/images/banner3.jpg" alt="Banner Ofertas 2"/>
  </div>
</div>
</section>
<main id="main">
<section id="destaques">
  <div class="owl-carousel-destaques owl-theme">
    <div class="item">
      <a href="#" class="card contain-item">
        <div class="card-header">
          <h3 class="header-title">Pra você</h3>
        </div>
        <div class="group-products">
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Samsung-28-UR550-UHD-Monitor-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/PlayStation-4-VR-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Gear-Samsung-Galaxy-Buds-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Yoga-Duet-7-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d13-1-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d8-100x100.jpg" alt="Banner Ofertas 1"/>
        </div>
        <button class="button-not-showed-notification-buy">Mostrar</button>
      </a>
    </div>
    <div class="item">
      <a href="#" class="card contain-item">
        <div class="card-header">
          <h3 class="header-title">Seus Favoritos</h3>
        </div>
        <div class="group-products">
          <img class="images no-border figure-illustration" src="./src/images/icon-none.png" alt="Banner Ofertas 1"/>
        </div>
        <button class="button-not-showed-notification-buy">Adicionar</button>
      </a>
    </div>
    <div class="item">
      <a href="#" class="card contain-item">
        <div class="card-header">
          <h3 class="header-title">Tudo R$1</h3>
        </div>
        <div class="group-products">
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Samsung-28-UR550-UHD-Monitor-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/PlayStation-4-VR-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Gear-Samsung-Galaxy-Buds-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Yoga-Duet-7-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d13-1-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d8-100x100.jpg" alt="Banner Ofertas 1"/>
        </div>
        <button class="button-not-showed-notification-buy">Mostrar</button>
      </a>
    </div>
    <div class="item">
      <a href="#" class="card contain-item">
        <div class="card-header">
          <h3 class="header-title">Mais procurados</h3>
        </div>
        <div class="group-products">
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Samsung-28-UR550-UHD-Monitor-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/PlayStation-4-VR-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Gear-Samsung-Galaxy-Buds-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Yoga-Duet-7-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d13-1-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d8-100x100.jpg" alt="Banner Ofertas 1"/>
        </div>
        <button class="button-not-showed-notification-buy">Mostrar</button>
      </a>
    </div>
    <div class="item">
      <a href="#" class="card contain-item">
        <div class="card-header">
          <h3 class="header-title">Oferta do dia</h3>
        </div>
        <div class="group-products">
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Samsung-28-UR550-UHD-Monitor-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/PlayStation-4-VR-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Gear-Samsung-Galaxy-Buds-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/Yoga-Duet-7-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d13-1-100x100.jpg" alt="Banner Ofertas 1"/>
          <img class="images" src="https://demo2.wpthemego.com/themes/sw_topdeal/layout6/wp-content/uploads/2017/07/d8-100x100.jpg" alt="Banner Ofertas 1"/>
        </div>
        <button class="button-not-showed-notification-buy">Mostrar</button>
      </a>
    </div>
  </div>
</section>
<section class="flickty contain-item content-center ">
  <div class="flickity-slider">
    <div class="advantage is-selected" data-advantage-index="0">
      <div class="advantage-content">
        <div class="advantage-icone">
          <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="surface1">
              <path style=" stroke:none;fill-rule:evenodd;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 16.683594 27.484375 L 3.054688 27.484375 C 2.621094 27.484375 2.273438 27.132812 2.273438 26.703125 C 2.273438 26.273438 2.621094 25.921875 3.054688 25.921875 L 16.683594 25.921875 C 17.117188 25.921875 17.464844 26.273438 17.464844 26.703125 C 17.464844 27.132812 17.117188 27.484375 16.683594 27.484375 Z M 15.195312 22.238281 C 15.195312 21.804688 14.84375 21.457031 14.414062 21.457031 L 0.78125 21.457031 C 0.351562 21.457031 0 21.804688 0 22.238281 C 0 22.667969 0.351562 23.019531 0.78125 23.019531 L 14.414062 23.019531 C 14.84375 23.019531 15.195312 22.667969 15.195312 22.238281 Z M 4.519531 18.554688 L 18.148438 18.554688 C 18.582031 18.554688 18.929688 18.203125 18.929688 17.773438 C 18.929688 17.339844 18.582031 16.992188 18.148438 16.992188 L 4.519531 16.992188 C 4.085938 16.992188 3.738281 17.339844 3.738281 17.773438 C 3.738281 18.203125 4.085938 18.554688 4.519531 18.554688 Z M 50 25.414062 L 50 35.082031 C 50 36.207031 49.085938 37.121094 47.964844 37.121094 L 45.941406 37.121094 C 45.574219 39.023438 43.898438 40.464844 41.886719 40.464844 C 39.878906 40.464844 38.199219 39.023438 37.835938 37.121094 L 21.867188 37.121094 C 21.5 39.023438 19.820312 40.464844 17.8125 40.464844 C 15.804688 40.464844 14.125 39.023438 13.757812 37.121094 L 9.386719 37.121094 C 8.035156 37.121094 6.933594 36.019531 6.933594 34.664062 L 6.933594 29.875 C 6.933594 29.441406 7.285156 29.09375 7.714844 29.09375 C 8.144531 29.09375 8.496094 29.441406 8.496094 29.875 L 8.496094 34.664062 C 8.496094 35.15625 8.894531 35.558594 9.386719 35.558594 L 13.757812 35.558594 C 14.125 33.652344 15.804688 32.210938 17.8125 32.210938 C 19.820312 32.210938 21.5 33.652344 21.867188 35.558594 L 33.777344 35.558594 L 33.777344 11.988281 C 33.777344 11.496094 33.375 11.09375 32.882812 11.09375 L 9.386719 11.09375 C 8.894531 11.09375 8.496094 11.496094 8.496094 11.988281 L 8.496094 14.601562 C 8.496094 15.035156 8.144531 15.382812 7.714844 15.382812 C 7.285156 15.382812 6.933594 15.035156 6.933594 14.601562 L 6.933594 11.988281 C 6.933594 10.632812 8.035156 9.53125 9.386719 9.53125 L 32.882812 9.53125 C 34.238281 9.53125 35.339844 10.632812 35.339844 11.988281 L 35.339844 14.902344 L 43.804688 14.902344 C 45.007812 14.902344 46.03125 15.554688 46.476562 16.601562 L 49.796875 24.417969 C 49.933594 24.746094 50 25.0625 50 25.414062 Z M 20.378906 36.339844 C 20.378906 34.921875 19.226562 33.773438 17.8125 33.773438 C 16.398438 33.773438 15.246094 34.921875 15.246094 36.339844 C 15.246094 37.753906 16.398438 38.902344 17.8125 38.902344 C 19.226562 38.902344 20.378906 37.753906 20.378906 36.339844 Z M 44.453125 36.339844 C 44.453125 34.921875 43.300781 33.773438 41.886719 33.773438 C 40.472656 33.773438 39.320312 34.921875 39.320312 36.339844 C 39.320312 37.753906 40.472656 38.902344 41.886719 38.902344 C 43.300781 38.902344 44.453125 37.753906 44.453125 36.339844 Z M 48.4375 35.082031 L 48.4375 34.140625 L 47.09375 34.140625 C 46.34375 34.140625 45.734375 33.53125 45.734375 32.78125 L 45.734375 30.351562 C 45.734375 29.601562 46.34375 28.992188 47.09375 28.992188 L 48.4375 28.992188 L 48.4375 25.414062 C 48.4375 25.269531 48.414062 25.164062 48.359375 25.027344 L 45.039062 17.210938 C 44.84375 16.75 44.371094 16.464844 43.804688 16.464844 L 35.339844 16.464844 L 35.339844 35.558594 L 37.835938 35.558594 C 38.199219 33.652344 39.878906 32.210938 41.886719 32.210938 C 43.898438 32.210938 45.574219 33.652344 45.941406 35.558594 L 47.964844 35.558594 C 48.226562 35.558594 48.4375 35.34375 48.4375 35.082031 Z M 47.296875 30.554688 L 47.296875 32.578125 L 48.4375 32.578125 L 48.4375 30.554688 Z M 46.308594 25.570312 L 37.128906 25.570312 C 36.699219 25.570312 36.347656 25.21875 36.347656 24.789062 L 36.347656 18.257812 C 36.347656 17.824219 36.699219 17.476562 37.128906 17.476562 L 43.535156 17.476562 C 43.851562 17.476562 44.132812 17.664062 44.253906 17.953125 L 47.03125 24.484375 C 47.132812 24.722656 47.105469 25 46.960938 25.21875 C 46.816406 25.4375 46.574219 25.570312 46.308594 25.570312 Z M 45.128906 24.007812 L 43.019531 19.039062 L 37.910156 19.039062 L 37.910156 24.007812 Z M 17.8125 35.199219 C 17.183594 35.199219 16.671875 35.707031 16.671875 36.339844 C 16.671875 36.96875 17.183594 37.480469 17.8125 37.480469 C 18.441406 37.480469 18.953125 36.96875 18.953125 36.339844 C 18.953125 35.707031 18.441406 35.199219 17.8125 35.199219 Z M 41.886719 35.199219 C 41.257812 35.199219 40.746094 35.707031 40.746094 36.339844 C 40.746094 36.96875 41.257812 37.480469 41.886719 37.480469 C 42.519531 37.480469 43.027344 36.96875 43.027344 36.339844 C 43.027344 35.707031 42.519531 35.199219 41.886719 35.199219 Z M 41.886719 35.199219 "></path>
            </g>
          </svg>
        </div>
        <div class="advantage-text">
          <span>Entrega</span>
          <p>Em todo Brasil</p>
        </div>
      </div>
    </div>
    <div class="advantage is-selected" data-advantage-index="1">
      <div class="advantage-content">
        <div class="advantage-icone">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="px" viewBox="0 0 50 50" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="surface1">
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 26.660156 32.914062 L 39.988281 32.914062 C 40.488281 32.914062 40.820312 32.582031 40.820312 32.082031 L 40.820312 24.582031 C 40.820312 24.082031 40.488281 23.75 39.988281 23.75 L 26.660156 23.75 C 26.160156 23.75 25.824219 24.082031 25.824219 24.582031 L 25.824219 32.082031 C 25.824219 32.582031 26.160156 32.914062 26.660156 32.914062 Z M 27.492188 25.417969 L 39.15625 25.417969 L 39.15625 31.25 L 27.492188 31.25 Z M 27.492188 25.417969 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 4.164062 22.085938 L 10.828125 22.085938 C 11.328125 22.085938 11.664062 21.75 11.664062 21.25 C 11.664062 20.75 11.328125 20.417969 10.828125 20.417969 L 4.164062 20.417969 C 3.664062 20.417969 3.332031 20.75 3.332031 21.25 C 3.332031 21.75 3.664062 22.085938 4.164062 22.085938 Z M 4.164062 22.085938 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 14.164062 22.085938 L 20.828125 22.085938 C 21.328125 22.085938 21.660156 21.75 21.660156 21.25 C 21.660156 20.75 21.328125 20.417969 20.828125 20.417969 L 14.164062 20.417969 C 13.664062 20.417969 13.328125 20.75 13.328125 21.25 C 13.328125 21.75 13.664062 22.085938 14.164062 22.085938 Z M 14.164062 22.085938 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 4.164062 25.417969 L 14.996094 25.417969 C 15.496094 25.417969 15.828125 25.082031 15.828125 24.582031 C 15.828125 24.082031 15.496094 23.75 14.996094 23.75 L 4.164062 23.75 C 3.664062 23.75 3.332031 24.082031 3.332031 24.582031 C 3.332031 25.082031 3.664062 25.417969 4.164062 25.417969 Z M 4.164062 25.417969 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 20.828125 23.75 L 18.328125 23.75 C 17.828125 23.75 17.496094 24.082031 17.496094 24.582031 C 17.496094 25.082031 17.828125 25.417969 18.328125 25.417969 L 20.828125 25.417969 C 21.328125 25.417969 21.660156 25.082031 21.660156 24.582031 C 21.660156 24.082031 21.328125 23.75 20.828125 23.75 Z M 20.828125 23.75 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 49.234375 13.421875 C 48.652344 12.671875 47.902344 12.253906 46.984375 12.171875 L 44.984375 11.929688 L 44.984375 7.921875 C 44.984375 6.089844 43.488281 4.589844 41.652344 4.589844 L 3.332031 4.589844 C 1.5 4.589844 0 6.089844 0 7.921875 L 0 34.582031 C 0 36.085938 1.011719 37.363281 2.386719 37.773438 C 2.34375 39.460938 3.621094 40.921875 5.332031 41.078125 L 43.820312 45.410156 C 43.902344 45.410156 44.070312 45.410156 44.152344 45.410156 C 45.820312 45.410156 47.320312 44.160156 47.484375 42.578125 L 49.984375 15.835938 C 50.066406 15.003906 49.816406 14.085938 49.234375 13.421875 Z M 1.667969 10.421875 L 43.320312 10.421875 L 43.320312 15.417969 L 1.667969 15.417969 Z M 3.332031 6.253906 L 41.652344 6.253906 C 42.570312 6.253906 43.320312 7.003906 43.320312 7.921875 L 43.320312 8.753906 L 1.667969 8.753906 L 1.667969 7.921875 C 1.667969 7.003906 2.414062 6.253906 3.332031 6.253906 Z M 1.667969 34.582031 L 1.667969 17.085938 L 43.320312 17.085938 L 43.320312 34.582031 C 43.320312 35.496094 42.570312 36.246094 41.652344 36.246094 L 3.332031 36.246094 C 2.414062 36.246094 1.667969 35.496094 1.667969 34.582031 Z M 48.316406 15.503906 L 45.820312 42.246094 C 45.734375 43.160156 44.902344 43.828125 43.984375 43.746094 L 5.582031 39.414062 C 4.75 39.328125 4.164062 38.664062 4.082031 37.914062 L 41.652344 37.914062 C 43.484375 37.914062 44.984375 36.414062 44.984375 34.582031 L 44.984375 13.503906 L 46.902344 13.671875 C 47.320312 13.671875 47.734375 13.921875 47.984375 14.253906 C 48.234375 14.585938 48.402344 15.085938 48.316406 15.503906 Z M 48.316406 15.503906 "></path>
            </g>
          </svg>
        </div>
        <div class="advantage-text">
          <span>Parcelamento</span>
          <p>Em até 12x</p>
        </div>
      </div>
    </div>
    <div class="advantage is-selected" data-advantage-index="2">
      <div class="advantage-content">
        <div class="advantage-icone">
          <!--?xml version="1.0" standalone="no"?-->
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 326.000000 326.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,326.000000) scale(0.100000,-0.100000)" fill="#098cff" stroke="none">
              <path d="M1558 3249 c-84 -9 -161 -44 -241 -108 -61 -49 -647 -631 -647 -642
                0 -4 44 -9 98 -11 110 -6 172 -25 251 -75 30 -20 170 -150 311 -290 140 -140
                264 -261 275 -269 11 -8 35 -14 54 -14 31 0 57 24 320 284 301 299 328 320
                448 351 31 8 81 15 110 15 29 0 53 4 53 8 0 17 -647 651 -695 681 -91 58 -212
                83 -337 70z m153 -79 c115 -22 146 -45 437 -334 149 -148 272 -274 272 -278 0
                -4 -6 -8 -14 -8 -26 0 -121 -44 -176 -81 -30 -21 -170 -153 -310 -293 -140
                -141 -262 -256 -270 -256 -9 0 -132 118 -275 261 -150 151 -285 278 -320 301
                -33 22 -93 49 -132 61 -40 11 -73 24 -73 27 0 16 530 530 570 553 87 50 187
                66 291 47z"></path>
              <path d="M316 2146 c-114 -115 -221 -230 -237 -255 -82 -129 -93 -346 -24
                -481 29 -58 80 -116 276 -315 l188 -190 163 6 c140 4 170 8 213 27 39 18 110
                83 330 302 304 303 326 320 425 320 98 0 121 -18 415 -309 149 -147 284 -277
                300 -288 55 -38 130 -53 259 -53 l121 0 176 178 c97 97 199 205 227 239 127
                157 141 380 35 563 -15 25 -119 138 -231 253 l-206 207 -122 0 c-95 0 -137 -5
                -190 -21 l-69 -21 -280 -277 c-154 -153 -295 -288 -313 -301 -46 -31 -146 -39
                -205 -16 -34 13 -102 74 -299 269 -140 140 -275 270 -300 290 -77 63 -105 71
                -283 77 l-160 5 -209 -209z m554 102 c31 -15 129 -105 323 -297 181 -180 293
                -284 323 -299 l46 -24 -52 -24 c-41 -19 -114 -85 -339 -307 -237 -235 -293
                -285 -327 -295 -23 -7 -100 -12 -171 -12 l-130 0 -195 198 c-213 217 -240 256
                -260 376 -8 48 -8 84 0 132 20 121 47 160 265 381 l199 202 137 -5 c111 -4
                144 -9 181 -26z m2041 -175 c213 -216 241 -256 262 -377 8 -49 8 -83 0 -132
                -21 -121 -49 -161 -262 -377 l-194 -197 -116 0 c-99 0 -123 4 -164 23 -35 16
                -119 93 -320 294 -219 218 -283 277 -326 297 l-54 25 49 22 c37 17 118 91 335
                306 157 156 287 283 290 283 2 0 22 7 44 15 25 9 81 14 151 15 l111 0 194
                -197z"></path>
              <path d="M1600 1404 c-14 -9 -144 -135 -290 -279 -146 -145 -283 -274 -306
                -288 -65 -40 -132 -59 -239 -66 l-100 -7 330 -330 c202 -203 349 -342 379
                -359 83 -48 149 -65 256 -65 105 0 175 18 259 66 43 25 701 669 701 686 0 4
                -20 8 -44 8 -69 0 -146 18 -216 51 -56 26 -99 64 -335 298 -148 147 -281 275
                -295 285 -31 20 -69 21 -100 0z m344 -342 c290 -287 315 -307 434 -344 23 -7
                42 -15 42 -18 0 -3 -123 -128 -272 -276 -300 -298 -325 -316 -457 -337 -52 -8
                -87 -8 -133 1 -123 23 -151 44 -446 336 l-272 270 73 21 c40 11 95 34 123 49
                29 17 161 141 325 302 151 151 282 274 289 274 8 0 140 -125 294 -278z"></path>
            </g>
          </svg>
        </div>
        <div class="advantage-text">
          <span>Pagamento à vista</span>
          <p>3% de desconto no PIX</p>
        </div>
      </div>
    </div>
    <div class="advantage is-selected" data-advantage-index="3">
      <div class="advantage-content">
        <div class="advantage-icone">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="px" viewBox="0 0 50 50" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="surface1">
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 38.769531 19.085938 L 38.769531 13.769531 C 38.769531 6.175781 32.59375 0 25 0 C 17.40625 0 11.230469 6.175781 11.230469 13.769531 L 11.230469 19.085938 C 9.265625 19.464844 7.773438 21.195312 7.773438 23.273438 L 7.773438 32.773438 C 7.773438 42.273438 15.503906 50 25 50 C 34.496094 50 42.226562 42.273438 42.226562 32.773438 L 42.226562 23.273438 C 42.226562 21.195312 40.734375 19.464844 38.769531 19.085938 Z M 25 1.621094 C 31.699219 1.621094 37.148438 7.070312 37.148438 13.769531 L 37.148438 19.007812 L 35.3125 19.007812 L 35.3125 13.769531 C 35.3125 8.082031 30.6875 3.457031 25 3.457031 C 19.3125 3.457031 14.6875 8.082031 14.6875 13.769531 L 14.6875 19.007812 L 12.851562 19.007812 L 12.851562 13.769531 C 12.851562 7.070312 18.300781 1.621094 25 1.621094 Z M 16.308594 19.007812 L 16.308594 13.769531 C 16.308594 8.976562 20.207031 5.074219 25 5.074219 C 29.792969 5.074219 33.691406 8.976562 33.691406 13.769531 L 33.691406 19.007812 Z M 40.605469 32.773438 C 40.605469 41.378906 33.605469 48.378906 25 48.378906 C 16.394531 48.378906 9.394531 41.378906 9.394531 32.773438 L 9.394531 23.273438 C 9.394531 21.8125 10.582031 20.625 12.042969 20.625 L 37.957031 20.625 C 39.417969 20.625 40.605469 21.8125 40.605469 23.273438 Z M 40.605469 32.773438 "></path>
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9, 140, 255);;fill-opacity:1;" d="M 29.265625 31.910156 C 29.265625 30.601562 28.675781 29.382812 27.652344 28.570312 C 26.625 27.753906 25.289062 27.460938 23.988281 27.761719 C 22.460938 28.117188 21.234375 29.332031 20.863281 30.851562 C 20.453125 32.535156 21.0625 34.246094 22.394531 35.273438 L 21.761719 39.429688 C 21.6875 39.914062 21.828125 40.40625 22.148438 40.777344 C 22.464844 41.144531 22.925781 41.355469 23.414062 41.355469 C 23.417969 41.355469 23.417969 41.355469 23.421875 41.355469 L 26.59375 41.34375 C 27.078125 41.34375 27.542969 41.128906 27.859375 40.761719 C 28.175781 40.390625 28.316406 39.902344 28.242188 39.417969 L 27.605469 35.269531 C 28.640625 34.46875 29.265625 33.226562 29.265625 31.910156 Z M 26.320312 34.1875 C 26.03125 34.355469 25.878906 34.679688 25.925781 35.011719 L 26.640625 39.664062 C 26.640625 39.671875 26.644531 39.6875 26.628906 39.707031 C 26.609375 39.726562 26.59375 39.726562 26.585938 39.726562 L 23.414062 39.738281 C 23.40625 39.738281 23.390625 39.738281 23.375 39.71875 C 23.359375 39.699219 23.359375 39.683594 23.359375 39.675781 L 24.074219 35.011719 C 24.125 34.679688 23.96875 34.355469 23.679688 34.1875 C 22.636719 33.582031 22.148438 32.421875 22.4375 31.238281 C 22.664062 30.316406 23.433594 29.554688 24.355469 29.339844 C 24.574219 29.289062 24.792969 29.265625 25.003906 29.265625 C 25.601562 29.265625 26.167969 29.460938 26.644531 29.839844 C 27.28125 30.34375 27.644531 31.097656 27.644531 31.910156 C 27.644531 32.855469 27.148438 33.703125 26.320312 34.1875 Z M 26.320312 34.1875 "></path>
            </g>
          </svg>
        </div>
        <div class="advantage-text">
          <span>Segurança</span>
          <p>Loja com SSL de proteção</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ofertas" class="offers content-center contain-item">
  <div class="large ">
    <img class="vertical-banner" src="./src/images/banner-vert1.jpg" alt="Natal 60% OFF" />
  </div>
  <div class="">
    <div class="card-header">
      <h2 class="header-title"></h2>
      <a href="#">Ver todos</a>
    </div>
    <div class="products">
      <a href="./produtos/index.html" class="card card-content">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">IFone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
    </div>
    <div class="products">
      <a href="./produtos/index.html" class="card card-content">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">IFone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <!-- <p class="credcard">em 12x R$ 7,50</p> -->
        <p class="card-frete">Frete grátis</p>
      </a>
    </div>
  </div>
</section>
<section id="top6" class="content-center">
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
  <a href="#" class="card-horizontal contain-item">
    <div class="card-figure">
      <img src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="">
    </div>
    <div class="card-content">
      <p class="card-title">Smarth Watch De Noronha China...</p>
      <p class="card-price-before">R$ 120,00</p>
      <div class="between-itens">
        <p class="card-price">R$ 120,00</p>
        <div class="card-avalitaions">
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" fill="#fbd746"></path> </g></svg></p>
          <span>4.9</span>
        </div>
      </div>
      <div class="between-itens">
        <p class="card-frete">Frete grátis</p>
        <p class="card-count-buy">123 vendidos</p>
      </div>
    </div>
  </a>
</section>
<section id="category" class="content-center contain-item">
  <div class="card-header">
    <h2 class="header-title">Categorias</h2>
    <a href="#">Ver todos</a>
  </div>
  <div class="categories">
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-9dbe7bbd415f53473ed0eab848605dc6@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Rastreadores</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-f95f82fd3a325a3a994cda7263b145e9@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Celulares</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-3a92b15549fcbb1ba5e5558dfdb72b61@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Para o Lar</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-8227fa610864a8efb18c7ee15290dd7b@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Informática</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-95f61dbceab2e978e67235030a9932b4@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Eletrônicos</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-11134258-7r98o-m3l0rns8dut139@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Ferramentas</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-69c63b2deabe837ed5f41fd5d9b84762@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Esportes e Fitness</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-6a8d385a65f7683d87446cc79f1e10dd@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Rastreadores</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-41d8fa483dba9777a5ea31f72736ebb2@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Celulares</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-3372b5b1d85ce6313c01eca39ab1702f@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Para o Lar</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-e36aea6b03c72d17710e5c1880067be0@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Informática</h2>
    </a>
    <a href="#" class="category-item">
      <img class="image-category" src="https://down-br.img.susercontent.com/file/br-50009109-a3689d12b70b379edaff062e303b2125@resize_w320_nl.webp" alt="Banner Ofertas 1"/>
      <h2 class="category-title">Eletrônicos</h2>
    </a>
  </div>
</section>
<section class="divisionpubli contain-item content-center" >
  <img class="publi-image-horizontal" src="./src/images/banner-division.jpg" />
</section>
<section id="maisvendidos" class=" content-center contain-item">
  <div class="card-header">
    <h2 class="header-title">Mais Vendidos</h2>
    <a href="#">Ver todos</a>
  </div>
  <div class="products">
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
    <a href="#" class="card">
      <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
      <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
      <p class="card-price-before">R$ 49,90</p>
      <p class="card-price">sR$ 99,90</p>
      <!-- <p class="credcard">em 12x R$ 7,50</p> -->
      <p class="card-frete">Frete grátis</p>
    </a>
  </div>
</section>
