<div class="container">
  <section class="mais-vendidos">
    <div class="products">
      <% for(var i=0; i < 6; i++) { %>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido <%= [i] %> Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
      <% } %>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
      <a href="#" class="card contain-item">
        <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
        <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
        <p class="card-price-before">R$ 49,90</p>
        <p class="card-price">sR$ 99,90</p>
        <p class="card-frete">Frete grátis</p>
      </a>
    </div>
  </section>
  <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
  </div>
</div>