<div class="container busca-categorias">
  <aside class="sidebar">
    <h3><%= busca %></h3>
    <span class="count-busca">123 resultados</span>
    <ul>
      <li><a href="#">Categoria 1</a></li>
      <li><a href="#">Categoria 2</a></li>
      <li><a href="#">Preço: R$ 0 - R$ 100</a></li>
      <li><a href="#">Preço: R$ 100 - R$ 200</a></li>
    </ul>
  </aside>
  <main class="main-content">
    <header class="filter-header">
      <span>Ordenar por:</span>
      <a href="#" class="active">Mais Relevante</a>
      <a href="#">Menor Preço</a>
      <a href="#">Maior Preço</a>
    </header>
      <div class="products">
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
        <a href="#" class="card contain-item">
          <img class="card-image" src="https://http2.mlstatic.com/D_Q_NP_2X_679155-MLB74397001041_022024-AB.webp" alt="Banner Ofertas 1"/>
          <p class="card-title">Fone Ouvido Bluetooth Samsung Galaxy Buds Fe Intra Auricular</p>
          <p class="card-price-before">R$ 49,90</p>
          <p class="card-price">sR$ 99,90</p>
          <p class="card-frete">Frete grátis</p>
        </a>
      </div>
      <div class="pagination">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
      </div>
  </main>
</div>